﻿<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ShopFlower Template">
    <meta name="keywords" content="ShopFlower, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopFlower | Người Dùng</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../LayoutShop/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutShop/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../LayoutShop/img/logoshop.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">

            <div class="header__top__right__auth">
                @if (ViewContext.HttpContext.Session.GetString("UserName") != null)
                {
                    // Hiển thị tên người dùng và nút đăng xuất
                    <form id="logoutForm" asp-controller="Access" asp-action="Logout" method="post">
                        <div class="welcome-user">
                            @ViewContext.HttpContext.Session.GetString("UserName")!
                            <button type="submit"><i class="fa fa-user"></i> Logout</button>
                        </div>
                    </form>
                }
                else
                {
                    // Hiển thị nút đăng nhập
                    <form id="loginForm" asp-controller="Access" asp-action="Login" method="get">
                        <button type="submit" class="btn btn-link"><i class="fa fa-user"></i> Login</button>
                    </form>
                }
            </div>

        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <a href="https://localhost:7253/Home/ShopIndex">Home</a>
                <li><a href="./shop-grid.html">Giỏ hàng</a></li>
                <li>
                    <a href="#">Đề cử mẫu</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Hoa mừng 20/11</a></li>
                        <li><a href="./shoping-cart.html">Hoa tỏ tình</a></li>
                        <li><a href="./checkout.html">Hoa tưởng niệm</a></li>
                        <li><a href="./blog-details.html">Hoa lễ tốt nghiệp</a></li>
                    </ul>
                </li
                <li><a href="./contact.html">Tổng đài</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> Hoangdeptrai@gmail.com</li>
                <li>Miễn phí giao hàng nhanh chóng!!!</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Hoangdeptrai@gmail.com</li>
                                <li>Miễn Phí Ship ~ Giao hàng tận nơi</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>   
                            </div>
                            
                            <div class="header__top__right__auth">
                                @if (ViewContext.HttpContext.Session.GetString("UserName") != null)
                                {
                                // Hiển thị tên người dùng và nút đăng xuất
                                    <form id="logoutForm" asp-controller="Access" asp-action="Logout" method="post">
                                        <div class="welcome-user">
                                            @ViewContext.HttpContext.Session.GetString("UserName")
                                            <button  type="submit"><i class="fa fa-user"></i> Logout</button>
                                        </div>
                                        
                                    </form>
                                }
                                else
                                {
                                    // Hiển thị nút đăng nhập
                                    <form id="loginForm" asp-controller="Access" asp-action="Login" method="get">
                                        <button type="submit" class="btn btn-link"><i class="fa fa-user"></i> Login</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="../LayoutShop/img/logoshop.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                           <li> <a href="https://localhost:7253/Home/ShopIndex">Home</a></li>
                            <li><a href="./shop-grid.html">Giỏ hàng</a></li>
                            <li>
                                <a href="#">Đề cử mẫu</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Hoa mừng 20/11</a></li>
                                    <li><a href="./shoping-cart.html">Hoa tỏ tình</a></li>
                                    <li><a href="./checkout.html">Hoa tưởng niệm</a></li>
                                    <li><a href="./blog-details.html">Hoa tốt nghiệp</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Tổng đài</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$0.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                    @await Component.InvokeAsync("LoaiSpMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+86 34.505.016</h5>
                                <span>Hỗ trợ 24/7 </span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="../LayoutShop/img/hero/banner-hoatuoi.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/love.jpg">
                            <h5><a href="#">Tình yêu</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/hoasinhnhat.jpg">
                            <h5><a href="#">Hoa sinh nhật</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/chucmung.jpg">
                            <h5><a href="#">Chúc mừng</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/hoachiabuon.jpg">
                            <h5><a href="#">Hoa chia buồn</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../LayoutShop/img/categories/camon.jpg">
                            <h5><a href="#">Hoa cảm ơn</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Danh Sách Hoa Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Danh Sách Hoa</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".flowergift">Hoa tặng</li>
                            <li data-filter=".flower-Lan">Hoa Lan</li>
                            <li data-filter=".flower-decor">Hoa Thiết Kế</li>
                            <li data-filter=".flower-holiday">Hoa dịp lễ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="displayProducts" class="row featured__filter">
        @RenderBody()
        </div>
        </div>
        </section>
    <!-- Featured Section End -->
    
    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../LayoutShop/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../LayoutShop/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="../LayoutShop/img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../LayoutShop/img/logoshop.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Cửa hàng chính: 79,Tân lập 1,Hiệp phú, Quận 9, TP.HCM</li>
                            <li>Điện thoại: +86 34.505.016</li>
                            <li>Email: Hoangdeptrai@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Chăm sóc khách hàng</h6>
                        <ul>
                            <li><a href="#">Giới Thiệu</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Bảo mật thông tin</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chính sách hoàn trả</a></li>
                            <li><a href="#">Xử lý khiếu nại</a></li>
                            <li><a href="#">Lý do nên chọn ShopFlower</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Người tin dùng</a></li>
                            <li><a href="#">Cho nhóm tớ 10 điểm nhé </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Liên hệ với chúng tôi</h6>
                        <p>Gửi Email liên hệ với chúng tôi nếu bạn có bất kỳ vấn đề nào cần được hỗ trợ</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Xác Nhận</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Đã đăng ký bản quyền |  <i class="fa fa-heart" aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="../LayoutShop/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../LayoutShop/js/jquery-3.3.1.min.js"></script>
    <script src="../LayoutShop/js/bootstrap.min.js"></script>
    <script src="../LayoutShop/js/jquery.nice-select.min.js"></script>
    <script src="../LayoutShop/js/jquery-ui.min.js"></script>
    <script src="../LayoutShop/js/jquery.slicknav.js"></script>
    <script src="../LayoutShop/js/mixitup.min.js"></script>
    <script src="../LayoutShop/js/owl.carousel.min.js"></script>
    <script src="../LayoutShop/js/main.js"></script>



</body>

</html>