﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Trang admin của Team Alone</title>
    <style>
        /* Định nghĩa font chữ cho tiêu đề */
        h1 {
            font-size: 68px;
            font-family: "Arial", sans-serif; /* Sử dụng font Arial hoặc font sans-serif nếu Arial không có sẵn */
            color: red; /* Màu chữ */
            text-align: center; /* Canh giữa tiêu đề */
        }       
    </style>
</head>
<body>
    <h1>Chào mừng bạn đến với trang Admin của Team Alone</h1>
</body>
</html>


