﻿@using DACSWebBanFlower.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TLoaiSp>
@{
    ViewData["Title"] = "LoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*Phải có addTagHelper để dùng asp-action*@
<h1>Loại Sản Phẩm</h1>
<style>

    /* Định nghĩa font chữ cho tiêu đề */
    h1 {
        font-family: "Arial", sans-serif; /* Sử dụng font Arial hoặc font sans-serif nếu Arial không có sẵn */
        color: #333; /* Màu chữ */
        text-align: center; /* Canh giữa tiêu đề */
        transition: text-shadow 0.3s ease; /* Hiệu ứng chuyển đổi text-shadow trong 0.3s */
    }

        /* Hiệu ứng khi hover */
        h1:hover {
            text-shadow: 0 0 20px blue, /* Thêm bóng đổ phát sáng với màu cam */
            0 0 30px blue, /* Các giá trị đầu tiên là ngang và dọc, thứ ba là mức độ phát sáng */
            0 0 40px blue, 0 0 50px blue;
        }
</style>
<p>
    <a asp-action="ThemLoaiSp" class="btn btn-success">Thêm sản phẩm</a>
</p>

<p>@TempData["Message"]</p>

<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Mã Loại Sản Phẩm
            </th>
            <th>
                Loại Sản Phẩm
            </th>

            <th>
                Tùy Chỉnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai)
                </td>

                <td>
                    <a asp-action="SuaLoaiSp" asp-route-maLoaiSp="@item.MaLoai" class="btn btn-info">Edit</a> |
                    <a asp-action="XoaLoaiSanPham" asp-route-maLoaiSp="@item.MaLoai" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
