﻿@model DACSWebBanFlower.ViewModels.HomeProductDetailViewModel

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Product Details Section Begin (Chi tiet san pham)-->
<section class="product-details spad">
    <div class="container">
        <div class="section-title">
            <h2>Chi Tiết Sản Phẩm</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content("../ProductImages/Images/"+Model.danhMucSp.AnhDaiDien)" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        @foreach (var image in Model.anhSps)
                        {
                            <img data-imgbigurl="@Url.Content("../ProductImages/Images/" + image.TenFileAnh)"
                                 src="@Url.Content("../ProductImages/Images/"+image.TenFileAnh)" alt="">
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <span class="product__details__text">
                    <h3>@Model.danhMucSp.TenSp</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.danhMucSp.GiaLonNhat</div>
                    <p>
                        @Model.danhMucSp.GioiThieuSp
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Mua Ngay</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Số lượng</b> <span>Còn hàng</span></li>
                        <li><b>Vận chuyển</b> <span>Trong 03 ngày <samp>(Miễn phí ship)</samp></span></li>
                        <li class="coupon_slider">
                        <li>
                            <b>Khuyến mãi</b>
                            <span>Giảm 50K</span>
                            <span>Giảm 20K</span>
                            <span>Giảm 10%</span>
                        </li>
                     
                        <li>
                            <b>Liên hệ ngay</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Reviews <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.danhMucSp.GioiThieuSp
                                </p>
                                <p>
                                    @Model.danhMucSp.GioiThieuSp
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.danhMucSp.GioiThieuSp
                                </p>
                                <p>
                                    @Model.danhMucSp.GioiThieuSp
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.danhMucSp.GioiThieuSp
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

