﻿
@model IEnumerable<TLoaiSp>
<div class="col-lg-3">
<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>Loại Sản Phẩm</span>
    </div>
    <ul>
            @foreach(var item in Model)
            {
                var getUrl = "https://localhost:7290/api/apiproduct/" + item.MaLoai;
                <li><a style="cursor:pointer" onclick="showProductByCategory('@getUrl')">@item.Loai</a></li>
                @*<li><a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maloai="@item.MaLoai">@item.Loai</a></li>*@
            }          
            </ul>
            </div>
        </div>
<script>
    function showProductDetail(productId) {
        // Điều hướng đến trang chi tiết sản phẩm với productId
        window.location.href = '@Url.Action("ProductDetail", "Home")' + productId;
    }
    function showProductByCategory(getUrl) {
        var str = '';
        $.ajax({
            type: 'GET',
            url: getUrl,
            dataType: 'json',
            success: function (data) {
                $.each(data, function(key, val) {
                    var linkImage = "../ProductImages/Images/" + $.trim(val.anhDaiDien);
                    str += '<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">';
                    str += '<div class="featured__item">';
                    str += '<div class="featured__item__pic set-bg" style="background-image: url(\'' + linkImage + '\');" data-setbg="' + linkImage + '">';
                    str += '</div>'; // Close featured__item__pic
                    str += '<div class="featured__item__text">';
                    // Thêm thuộc tính onclick gọi hàm showProductDetail khi click vào sản phẩm
                    str += '<h6><a style="cursor:pointer" onclick="showProductDetail(\'' + val.maSp + '\')">' + val.tenSp + '</a></h6>';
                    str += '<h5>' + val.giaNhoNhat + '</h5>';
                    str += '</div></div></div>';
                        });
                        $('#displayProducts').html(str);
                },
                Error: function(xhr) {
                    alert(xhr.responseText)
                }
            });
    }
</script>

